body {
  font-family: 'Avenir next', Helvetica, Arial, sans-serif;
}

form.inline {
  display: inline-block;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.base {
  position: absolute;
}

#z1 {
  z-index: 1;
}

#z2 {
  z-index: 2;
  position: absolute;
}
