body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form.inline {
  display: inline-block;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.floorplan {
  margin-left: 2%;
  margin-top: 2%;
  position: absolute;
}

.base {
  position: absolute;
}

/*1em = 16px*/
#menu {
  position: fixed;
  left: 60%;
  top: 100%;
  margin-top: -5em;
}

#z1 {
  z-index: 1;
}

#z2 {
  z-index: 2;
  position: absolute;
}

#z3 {
  z-index: 3;
  position: absolute;
  display: none;
}

#z4 {
  z-index: 4;
  position: absolute;
}

#z5 {
  z-index: 5;
  position: absolute;
  display: none;
}

.green2, .blank2, .off2, .on2{
  top: 126px;
  position: absolute;
}

.green3, .blank3, .off3, .on3{
  top: 508px;
}
