{% load staticfiles %}
<html>

  <head>
    <title>BanyanTree App</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/banyan.css' %}">
    <link rel="stylesheet" href="{% static 'css/external.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- JAVASCRIPT -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>

  </head>

  <body>
    <div id=menu>
      <a href="/home/">
        <input type="button" value="Refresh" class="btn btn-success">
      </a>
      <a href="/home/">
        <input type="button" value="All OFF" class="btn btn-success">
      </a>
      <a href="/home/">
        <input type="button" value="My Account" class="btn btn-success">
      </a>
    </div>
    <div class="row">
      <div class="col-sm-6 col-centered">
        {% block root %}
        {% endblock %}
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>

</html>
