{% load staticfiles %}
<html>

  <head>
    <title>BanyanTree App</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/banyan.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">

    <!-- JAVASCRIPT -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>

  </head>

  <body>
    <div class="content container">
      <div class="row">
        <div class="col-md-12">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
  </body>

</html>
