{% extends 'application.html' %}

{% block content %}

  <div class="floorplan">

    <div id="z1" class="base">
      <img src="/static/img/floorplan.svg" usemap="#floorplan">
    </div>

    <div id="z2" class="blank1"><img src="/static/img/blank1.svg"></div>
    <div id="z2" class="blank2"><img src="/static/img/blank2.svg"></div>
    <div id="z2" class="blank3"><img src="/static/img/blank3.svg"></div>

    <div id="z3" class="green1"><img src="/static/img/green1.svg"></div>
    <div id="z3" class="green2"><img src="/static/img/green2.svg"></div>
    <div id="z3" class="green3"><img src="/static/img/green3.svg"></div>

  </div>

{% endblock %}
